<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-text-field
          label="Preis Ihrer Investition"
          :rules="rules"
          hide-details="auto"
          tabindex="2"
          v-model="investment.price"
        ></v-text-field>
        <v-text-field
          label="Voraussichtliche Nutzungsdauer in Jahren"
          :rules="rules"
          hide-details="auto"
          tabindex="2"
          v-model="investment.years"
        ></v-text-field>
        <v-text-field
          label="Ihr Netto Stundenlohn (optional)"
          :rules="rules"
          hide-details="auto"
          tabindex="2"
          v-model="investment.netto"
        ></v-text-field>

        <v-text-field
          label="Durchschnittlicher Zinssatz in %"
          :rules="rules"
          hide-details="auto"
          tabindex="2"
          v-model="investment.zins"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-row>
      <v-col col="12">
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">Jahr</th>
                <th class="text-left">Summe</th>
                <th class="text-left">Verpasste Zinsen</th>
                <th class="text-left">Preis pro Jahr</th>
                <th class="text-left">Monatspreis</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in calculation" :key="item.name">
                <td>{{ item.year }}</td>
                <td>{{ item.sum | currency }}</td>
                <td>{{ item.tax | currency }}</td>
                <td>{{ item.py | currency }}</td>
                <td>{{ item.pm | currency }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-row>
      <v-col col="4">
        <h4>
          Gesamtpreis inkl. Zinsverlust: {{ result.totalcost | currency }}
        </h4>
      </v-col>
      <v-col cols="4">
        <h4>Zinsverlust: {{ result.paidtaxes | currency }}</h4>
      </v-col>
      <v-col cols="4">
        <h4>
          Stunden notwendig zum verdienen:
          {{ result.workneeded | hours }} Stunden
        </h4>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Calculator",

  data() {
    return {
      investment: {
        price: 0,
        years: 1,
        netto: 15,
        zins: 6,
      },
    };
  },
  filters: {
    currency: function (value) {
      return parseFloat(value).toFixed(2) + " €";
    },
    hours: function (value) {
      return parseFloat(value).toFixed(1) + "";
    },
  },
  computed: {
    calculation() {
      let items = [];

      for (let i = 1; i <= this.investment.years; i++) {
        let summe = 0;
        let tax = 0;
        if (i == 1) {
          summe =
            parseInt(this.investment.price) +
            parseInt(this.investment.price * (this.investment.zins / 100));
          tax = parseInt(this.investment.price * (this.investment.zins / 100));
        } else {
          summe =
            parseInt(items[i - 2].sum) +
            parseInt(items[i - 2].sum * (this.investment.zins / 100));
          tax = parseInt(items[i - 2].sum * (this.investment.zins / 100));
        }

        let calc = {
          year: i,
          sum: summe,
          tax: tax,
          py: summe / i,
          pm: summe / (i * 12),
        };
        items.push(calc);
      }

      return items;
    },
    result() {
      let values = {
        totalcost: this.calculation[this.investment.years - 1].sum,
        paidtaxes:
          this.calculation[this.investment.years - 1].sum -
          this.investment.price,
        workneeded:
          parseInt(this.calculation[this.investment.years - 1].sum) /
          parseInt(this.investment.netto),
      };
      return values;
    },
  },
};
</script>
 