<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center"></div>

      <v-spacer></v-spacer>

      <a href="https://www.marcogriep.de">
        <span class="mr-2">Entwickler Seite</span>
        <v-icon>mdi-open-in-new</v-icon>
      </a>
    </v-app-bar>

    <v-main>
      <Calculator />
          <!-- TrueCost -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3706327998499959"
     data-ad-slot="8947608733"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
    </v-main>
    <a href="https://www.marcogriep.de">
        <span class="mr-2">Entwickelt von Marco Griep</span>
     </a>
  </v-app>
</template>

<script>
import Calculator from "./components/Calculator";

export default {
  name: "App",

  components: {
    Calculator,
  },

  data: () => ({
    //
  }),
};
</script>
